*{
    font-family: 'ADLaM Display';
    margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
    /* Your CSS styles here */
    .site-header {
      background-color: #333;
      color: white;
      padding: 0;
      font-size:30px;
      width: 100%;
      text-align: center;
    }

    .site-header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .site-header nav li {
      display: inline;
      margin: 0 10px; /* Adjust the margin as needed */
    }

    .site-header nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: color 0.3s;
    }

    .site-header nav a:hover {
      color: #8000f7;
    }